<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>이삼사오</title>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <script>
        function obj(){
            alert('목표')
        }
        function pro(){
            alert('약속')
        }

    </script>

</head>
<body>
    <div class="maintitle">
        <h1 style="font-size: 80px"><a href="index.html" style="color:navy">🐵🐔이삼사오🐶🐷</a></h1>
    </div>
    <div class="mybox">
        <div>
            <div class="row row-cols-1 row-cols-md-5 g-5">
            <div class="col"><a href="1.html">
                <div class="card">
                    <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">김우상</h5>
                        <p class="card-text">팀장</p>
                    </div>
                </div>
            </a></div>
            <div class="col"><a href="2.html">
                <div class="card">
                    <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">황준호</h5>
                        <p class="card-text">팀원</p>
                    </div>
                </div>
            </a></div>
            <div class="col"><a href="3.html">
                <div class="card">
                    <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">이정은</h5>
                        <p class="card-text">팀원</p>
                    </div>
                </div>
            </a></div>
            <div class="col"><a href="4.html">
                <div class="card">
                    <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">심대호</h5>
                        <p class="card-text">팀원</p>
                    </div>
                </div>
            </a></div>
            <div class="col"><a href="5.html">
                <div class="card">
                    <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">한지은</h5>
                        <p class="card-text">팀원</p>
                    </div>
                </div>
            </a></div>
        </div>
        </div>
    </div>
    <div id="title-box" class="title">
        <h2 style="font-size: 80px; color:navy;">이삼사오</h2>
        <p style="font-size: 30px; color: gray">: 92,93,94,95 년생으로 이루어져있어 이삼사오!!</p>
        <p class="btn">
            <button onclick="obj()" type="button" class="btn btn-outline-dark">목표</button>
            <button onclick="pro()" type="button" class="btn btn-outline-dark">약속</button>
        </p>
    </div>
    <div id="content-box" class="wrap">
        <div class="content">
            <h2 style="font-size: 60px; color:navy;"><a href="page.html" target="_blank">이름</a></h2>
            <nav>
               <ul class="keyword">
                   <li>키워드</li>
                   <li>키워드</li>
                   <li>키워드</li>
                   <li>키워드</li>
                </ul>
            </nav>
        </div>
        <div class="img">
            <img id="img-myphoto" src="https://cdn.palnews.co.kr/news/photo/201801/92969_25283_5321.jpg">
        </div>
    </div>
</body>
</html>